<!DOCTYPE html>
<html lang="en">
<head>
    <title>House Price Prediction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="text-align: center">
    <div style = "border-bottom: solid cornflowerblue 4px">
        <h1>House Price Predictor for King County (includes Seattle), USA</h1>
    </div>
    <br><br>
    <div class="jumbotron" style="padding:30px">
        <p>
            King County is a county located in the U.S. state of Washington. 
            The population was 2,233,163 in the 2018 census estimate, making it the most populous county in Washington, and the 12th-most populous in the United States. 
            The county seat is Seattle, also the state's most populous city.
        </p>
        <p>
            King County is one of three Washington counties that are included in the Seattle–Tacoma–Bellevue metropolitan statistical area. 
            (The others are Snohomish County to the north, and Pierce County to the south.) 
            About two-thirds of King County's population lives in Seattle's suburbs.
        </p>
    </div>
    
    <img src="../kingcounty.png" style="align-items: center; height: 500px">
    <br><br>
    <a href = "http://localhost:5001/eda"><button class="btn btn-info">Check out EDA</button></a>
    <br><br>
    <a href = "http://localhost:5001/prediction"><button class="btn btn-info">Predict house price!</button></a>
    <br><br>
</body>
</html>